@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    background-color: #fff;
}

.wrapper {
    width: 1480px;
    margin: 0 auto;
    padding: 60px 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 189px;
    margin-bottom: 48px;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
   
}

.header-logo-link {
    color: #000000;
}

.header-logo span {
    color: #4BCAFF;
}

.header-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: #35444F;
   
}

.header-menu-items {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 19px 30px;
}

.header-menu-link {
    color:#FFFFFF ;
    font-size: 24px;
    text-align: center;
}

.header-menu-items:hover {
   background-color: #222F3A; 
   transform: scale(1.3);
   transition-duration: 2s
}

.container-aside-menu {
    display: flex;
}

.sidebar-container{
width: 344px;
height: 400px;
font-size: 27px;
align-items: center

}

.sidebar-menu-item{
    height: 81px;
   padding-top: 26px;
   padding-left: 44px;
}

.sidebar-menu-item:hover{
    transform: scale(1.5);
    transition-duration: 1.5s
}

.sidebar-menu-link {
    color: #485863;
}

.sidebar-menu-link:hover{
    color: #000000;
    
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

.fon:hover{
    transform: scale(1.1);
    transition-duration: 2s;
    
}

.fon{
    margin: auto;
    width: 320px;
    height: 381px;
}

.description {
    width: 885px;
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.description-paragraph{
    margin-bottom: 35px;
}

.footer-menu-items {
    display: flex;
}

.footer-container {
    height: 69px;
    font-size: 24px;
    background-color:#63696E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu-item{
    padding:20px;
}

.footer-menu-item:hover{
    transform: scale(1.5);
    transition-duration: 1.5s;
}

.footer-menu-link {
    color: #010101;
    
}

.footer-menu-link:hover {
   color: #3181A6;
}